*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI";
}



body{

height:100vh;
background:#0f172a;

display:flex;
justify-content:center;
align-items:center;

}



.book-container{

text-align:center;

}



.book{


width:420px;
height:560px;

position:relative;

perspective:1500px;

}



.page{


position:absolute;

width:100%;
height:100%;


background:#fffaf0;


border-radius:10px;


padding:40px;


box-shadow:
0 20px 40px #0005;


transform-origin:left;


opacity:0;


transform:
rotateY(-90deg);


transition:
0.8s;


}



.page.active{


opacity:1;


transform:
rotateY(0deg);


z-index:10;


}




.content{


height:100%;


background:

repeating-linear-gradient(
#fffaf0,
#fffaf0 29px,
#d6d6d6 30px
);


padding:25px;


}



h1{


font-size:45px;

color:#111827;

margin-bottom:30px;

}



h2{


font-size:32px;

margin-bottom:25px;


}



p{

font-size:18px;

line-height:1.6;

}



.small{

letter-spacing:3px;

}



.open{


margin-top:60px;

font-size:22px;

}



ul{

list-style:none;

}



li{


background:#fde68a;

margin:20px;

padding:15px;

border-radius:10px;

cursor:pointer;


}



li:hover{

transform:scale(1.05);

}




.skills span{


display:inline-block;


background:#c4b5fd;


padding:10px;

margin:6px;

border-radius:20px;

}



.buttons{


margin-top:25px;

color:white;

display:flex;

gap:25px;

justify-content:center;

align-items:center;

}



button{


padding:12px 25px;

border:none;

border-radius:20px;

cursor:pointer;

background:#fbbf24;

font-weight:bold;


}




@media(max-width:500px){


.book{

width:330px;

height:500px;

}


h1{

font-size:35px;

}


}
